<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/favorite.ico" type="image/x-icon"/>
    <link rel=”icon” href="/favorite.ico" type="image/x-icon"/>
    <link rel="bookmark" href="/favorite.ico" type="image/x-icon"/>
    <title>错误页面 </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="hold-transition sidebar-mini ">
<h1>哎呀貌似出了问题了</h1>
<h2>status:[[${status}]]</h2>
<h2>timestamp:[[${timestamp}]]</h2>
</body>
</html>
