<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/favorite.ico" type="image/x-icon"/>
    <link rel=”icon” href="/favorite.ico" type="image/x-icon"/>
    <link rel="bookmark" href="/favorite.ico" type="image/x-icon"/>
    <title>在线模块 </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/dist/css/ionicons/2.0.1/css/ionicons.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="/dist/css/fonts/googlefonts.css" rel="stylesheet">
    <style>
        .form-inline .form-control {
            width: calc(100% - 8em);
        }

        .form-inline .form-label {
            width: 8em;
        }
        /* Switch starts here */
        .rocker {
            display: inline-block;
            position: relative;
            /*
            SIZE OF SWITCH
            ==============
            All sizes are in em - therefore
            changing the font-size here
            will change the size of the switch.
            See .rocker-small below as example.
            */
            font-size: 2em;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            color: #888;
            width: 7em;
            height: 4em;
            overflow: hidden;
            border-bottom: 0.5em solid #eee;
        }

        .rocker-small {
            font-size: 0.75em;
            /* Sizes the switch */
            margin: 1em;
        }

        .rocker::before {
            content: "";
            position: absolute;
            top: 0.5em;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #999;
            border: 0.5em solid #eee;
            border-bottom: 0;
        }

        .rocker input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .switch-left,
        .switch-right {
            cursor: pointer;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 2.5em;
            width: 3em;
            transition: 0.2s;
            user-select: none;
        }

        .switch-left {
            height: 2.4em;
            width: 2.75em;
            left: 0.85em;
            bottom: 0.4em;
            background-color: #ddd;
            transform: rotate(15deg) skewX(15deg);
        }

        .switch-right {
            right: 0.5em;
            bottom: 0;
            background-color: #bd5757;
            color: #fff;
        }

        .switch-left::before,
        .switch-right::before {
            content: "";
            position: absolute;
            width: 0.4em;
            height: 2.45em;
            bottom: -0.45em;
            background-color: #ccc;
            transform: skewY(-65deg);
        }

        .switch-left::before {
            left: -0.4em;
        }

        .switch-right::before {
            right: -0.375em;
            background-color: transparent;
            transform: skewY(65deg);
        }

        input:checked + .switch-left {
            background-color: seagreen
        ;
            color: #fff;
            bottom: 0px;
            left: 0.5em;
            height: 2.5em;
            width: 3em;
            transform: rotate(0deg) skewX(0deg);
        }

        input:checked + .switch-left::before {
            background-color: transparent;
            width: 3.0833em;
        }

        input:checked + .switch-left + .switch-right {
            background-color: #ddd;
            color: #888;
            bottom: 0.4em;
            right: 0.8em;
            height: 2.4em;
            width: 2.75em;
            transform: rotate(-15deg) skewX(-15deg);
        }

        input:checked + .switch-left + .switch-right::before {
            background-color: #ccc;
        }

        /* Keyboard Users */
        input:focus + .switch-left {
            color: #333;
        }

        input:checked:focus + .switch-left {
            color: #fff;
        }

        input:focus + .switch-left + .switch-right {
            color: #fff;
        }

        input:checked:focus + .switch-left + .switch-right {
            color: #333;
        }
    </style>
</head>
<body class="hold-transition sidebar-mini ">
<!-- Site wrapper -->
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>在线模块</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/home.htm" target="_self" onclick="changeTip('homePage')">首页</a></li>
                            <li class="breadcrumb-item active">在线模块</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card card-blue card-outline">
                        <div class="card-header border-0">
                            <h5 class="card-title text-blue">
                                在线模块 <i class="fa fa-heartbeat"></i>
                            </h5>
                        </div>
                        <div class="card-body">
                            <form class="form-inline" method="get" action="list.htm">
                                <div class="row col-lg-12">
                                    <div class="form-group col-lg-4" style="padding-left:10px;padding-bottom: 15px;">
                                        <label class="form-label" for="appName">应用名:</label>
                                        <input type="text" class="form-control" placeholder="appName" name="appName"
                                               value="$!requestParams.appName" autocomplete="off"
                                               data-toggle="tooltip"
                                               title="appName">
                                    </div>
                                    <div class="form-group col-lg-4" style="padding-left: 10px;padding-bottom: 15px;">
                                        <label class="form-label" for="ip">机器IP:</label>
                                        <input type="text" class="form-control" placeholder="ip" name="ip"
                                               value="$!requestParams.ip" autocomplete="off"
                                               data-toggle="tooltip"
                                               title="ip">
                                    </div>
                                    <div class="form-group col-lg-4" style="padding-left: 20px;padding-bottom: 15px;">
                                        <button type="submit" class="btn btn-primary"
                                                data-loading-text="searching" id="search-online-btn">
                                            查询 <i class="fa fa-search icon-on-right bigger"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <table class="table table-hover table-striped" style="word-break: break-all;">
                                #if($pagerWrapper.content && $pagerWrapper.content.size() > 0)
                                    <thead>
                                    <tr style="text-align: center;">
                                        <th>应用名</th>
                                        <th>环境</th>
                                        <th>机器IP</th>
                                        <th>端口号</th>
                                        <th>版本号</th>
                                        <th>状态</th>
                                        <th>心跳时间</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        #foreach($data in $pagerWrapper.content)
                                        <tr style="text-align: center;">
                                            <td style="vertical-align: middle">$!data.appName</td>
                                            <td style="vertical-align: middle">$!{data.environment}</td>
                                            <td style="vertical-align: middle">$!data.ip</td>
                                            <td style="vertical-align: middle">$!{data.port}</td>
                                            <td style="vertical-align: middle">$!{data.version}</td>
                                            <td style="vertical-align: middle">
                                                #if($!{data.status.desc}=='已激活')
                                                    <label class="rocker rocker-small">
                                                        <input type="checkbox" checked disabled>
                                                        <span class="switch-left">已激活</span>
                                                        <span class="switch-right">已冻结</span>
                                                    </label>
                                                #else
                                                    <label class="rocker rocker-small">
                                                        <input type="checkbox" disabled>
                                                        <span class="switch-left">已激活</span>
                                                        <span class="switch-right">已冻结</span>
                                                    </label>
                                                #end
                                            </td>
                                            <td style="vertical-align: middle">$!{data.gmtModified}</td>
                                            <td style="vertical-align: middle">
                                                #if($!{data.status.desc}=='已激活')
                                                    <button class="btn btn-warning btn-xs btn-frozen"
                                                            data-toggle="tooltip"
                                                            title="冻结" data-ip="$!{data.ip}"
                                                            data-app="$!{data.appName}"
                                                            data-environment="$!{data.environment}">冻结
                                                    </button>


                                                #else
                                                    <button class="btn btn-success btn-xs btn-active"
                                                            data-toggle="tooltip"
                                                            title="激活模块" data-ip="$!{data.ip}"
                                                            data-app="$!{data.appName}"
                                                            data-environment="$!{data.environment}">激活
                                                    </button>
                                                #end
                                                <button class="btn btn-primary btn-xs btn-reload" data-toggle="tooltip"
                                                        title="刷新插件" data-ip="$!{data.ip}"
                                                        data-app="$!{data.appName}"
                                                        data-environment="$!{data.environment}">刷新
                                                </button>
                                                <a target="_blank"
                                                   href="detail.htm?id=$!{data.id}"
                                                   class="btn btn-primary btn-xs" data-toggle="tooltip"
                                                   title="查看详情">详情</a>
                                            </td>
                                        </tr>
                                        #end
                                    </tbody>
                                #else
                                    <h5 style="padding-left: 10px;margin-top: 20px"> 没有心跳信息</h5>
                                #end
                            </table>
                        </div>
                        <div class="card-footer clearfix">
                            #parse("blocks/pager.vm")
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/dist/js/demo.js"></script>
    #parse("blocks/fakeloader.vm")
    #parse("blocks/install-module.vm")
<script src="/app/js/app.js" charset="UTF-8"></script>
<script type="application/javascript">
    jQuery(function ($) {
        $(".btn-active").on('click', function () {
            var appName = $(this).attr('data-app');
            var ip = $(this).attr('data-ip');
            var environment = $(this).attr('data-environment');
            innerPost("/module/active.json", {
                'appName': appName,
                'ip': ip,
                'environment': environment
            }, function (response) {
                if (response.success) {
                    notice(response.message, response.success)
                    setTimeout('window.location.reload()', 1000)
                } else {
                    notice(response.message, response.success)
                }
            });
        })
        $(".btn-frozen").on('click', function () {
            var appName = $(this).attr('data-app');
            var ip = $(this).attr('data-ip');
            var environment = $(this).attr('data-environment');
            innerPost("/module/frozen.json", {
                'appName': appName,
                'ip': ip,
                'environment': environment
            }, function (response) {
                if (response.success) {
                    notice(response.message, response.success)
                    setTimeout('window.location.reload()', 1000)
                } else {
                    notice(response.message, response.success)
                }
            });
        })
        $(".btn-reload").on('click', function () {
            var appName = $(this).attr('data-app');
            var ip = $(this).attr('data-ip');
            var environment = $(this).attr('data-environment');
            innerPost("/module/reload.json", {
                'appName': appName,
                'ip': ip,
                'environment': environment
            }, function (response) {
                if (response.success) {
                    notice(response.message, response.success)
                    setTimeout('window.location.reload()', 1000)
                } else {
                    notice(response.message, response.success)
                }
            });
        })

        $("#btn-install").on("click", function () {
            var modal = $('#start-install-modal');
            modal.on('shown.bs.modal', function () {
                $(this).css('display', 'block');
                var modalHeight = $(window).height() / 2 - $('#start-install-modal .modal-dialog').height() / 2;
                $(this).find('.modal-dialog').css({
                    'margin-top': modalHeight
                });
            });
            modal.modal('show')
        })

        $("#start-install-btn").on('click', function () {
            showLoading(10);
            $("#startInstallForm").ajaxSubmit({
                type: "post",
                url: "//" + host + "/module/install.json",
                success: function (data) {
                    $("#start-install-modal").modal('hide')
                    hideLoading(10)
                    if (data.success) {
                        notice(data.message, data.success)
                        setTimeout('window.location.reload()', 1000)
                    } else {
                        notice(data.message, data.success)
                    }
                },
                error: function (XMLHttpRequest) {
                    hideLoading(10);
                    notice("服务抽风了，网络异常 " + XMLHttpRequest.responseText, false);
                }
            })
        });
    });
</script>
</body>
</html>
