<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/favorite.ico" type="image/x-icon"/>
    <link rel=”icon” href="/favorite.ico" type="image/x-icon"/>
    <link rel="bookmark" href="/favorite.ico" type="image/x-icon"/>
    <title>在线模块 </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/dist/css/ionicons/2.0.1/css/ionicons.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="/dist/css/fonts/googlefonts.css" rel="stylesheet">
    <style>
        .form-inline .form-control {
            width: calc(100% - 8em);
        }

        .form-inline .form-label {
            width: 8em;
        }
    </style>
</head>
<body class="hold-transition sidebar-mini ">
<!-- Site wrapper -->
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>回放记录</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/home.htm" target="_self" onclick="changeTip('homePage')">首页</a></li>
                            <li class="breadcrumb-item active">回放记录</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card card-blue card-outline">
                        <div class="card-header border-0">
                            <h5 class="card-title text-blue">
                                回放列表 <i class="fa fa-heartbeat"></i>
                            </h5>
                        </div>
                        <div class="card-body">
                            <form class="form-inline" method="get" action="list.htm">
                                <div class="row col-lg-12">
                                    <div class="form-group col-lg-4" style="padding-left:10px;padding-bottom:10px;">
                                        <label class="form-label" for="AppName">应用名:</label>
                                        <input type="text" class="form-control" placeholder="appName" name="appName"
                                               value="$!requestParams.appName" autocomplete="off"
                                               data-toggle="tooltip"
                                               title="AppName">
                                    </div>
                                    <div class="form-group col-lg-4" style="padding-left: 10px;padding-bottom:10px;">
                                        <label class="form-label" for="TraceId">原TraceId:</label>
                                        <input type="text" class="form-control" placeholder="rTraceId"
                                               name="rTraceId"
                                               value="$!requestParams.rTraceId" autocomplete="off"
                                               data-toggle="tooltip"
                                               title="TraceId">
                                    </div>
                                    <div class="form-group col-lg-4" style="padding-left: 10px;padding-bottom:10px;">
                                        <label class="form-label" for="RepeatId">RepeatId:</label>
                                        <input type="text" class="form-control" placeholder="repeatId"
                                               name="repeatId"
                                               value="$!requestParams.repeatId" autocomplete="off"
                                               data-toggle="tooltip"
                                               title="RepeatId">
                                    </div>
                                </div>
                                <div class="row col-lg-12">
                                    <div class="form-group col-lg-4"
                                         style="padding-left: 10px;padding-bottom:10px;">
                                        <label class="form-label" for="url">回放模式:</label>
                                        <select class="form-control" placeholder="回放结果"
                                                name="replayType"
                                                value="$!requestParams.replayType" autocomplete="off"
                                                data-toggle="tooltip"
                                                style="width: 210px;margin-left:10px">
                                            #if($requestParams.replayType=='0')
                                                <option value="">全部</option>
                                                <option selected value="0">event事件回放</option>
                                                <option value="1">quartz定时任务回放</option>
                                                <option value="2">手动回放</option>
                                            #elseif($requestParams.replayType=='1')
                                                <option value="">全部</option>
                                                <option value="0">event事件回放</option>
                                                <option selected value="1">quartz定时任务回放</option>
                                                <option value="2">手动回放</option>
                                            #elseif($requestParams.replayType=='2')
                                                <option value="">全部</option>
                                                <option value="0">event事件回放</option>
                                                <option value="1">quartz定时任务回放</option>
                                                <option selected value="2">手动回放</option>
                                            #else
                                                <option selected value="">全部</option>
                                                <option value="0">event事件回放</option>
                                                <option value="1">quartz定时任务回放</option>
                                                <option value="2">手动回放</option>
                                            #end
                                        </select>
                                    </div>
                                    <div class="form-group col-lg-4"
                                         style="padding-left: 10px;padding-bottom:10px;">
                                        <label class="form-label" for="url">回放结果:</label>
                                        <select class="form-control" placeholder="回放结果"
                                                name="replayStatus"
                                                value="$!requestParams.replayStatus" autocomplete="off"
                                                data-toggle="tooltip"
                                                style="width: 210px;margin-left:10px">
                                            #if($requestParams.replayStatus==2)
                                                <option value="">全部</option>
                                                <option selected value="2">回放中</option>
                                                <option value="1">一致</option>
                                                <option value="0">不一致</option>
                                            #elseif($requestParams.replayStatus==1)
                                                <option value="">全部</option>
                                                <option value="2">回放中</option>
                                                <option selected value="1">一致</option>
                                                <option value="0">不一致</option>
                                            #elseif($requestParams.replayStatus==0)
                                                <option value="">全部</option>
                                                <option value="2">回放中</option>
                                                <option value="1">一致</option>
                                                <option selected value="0">不一致</option>
                                            #else
                                                <option selected value="">全部</option>
                                                <option value="2">回放中</option>
                                                <option value="1">一致</option>
                                                <option value="0">不一致</option>
                                            #end
                                        </select>
                                    </div>
                                    <div class="form-group col-lg-4" style="padding-left: 20px;padding-bottom:10px;">
                                        <button type="submit" class="btn btn-primary"
                                                data-loading-text="searching" id="search-online-btn">
                                            查询 <i class="fa fa-search icon-on-right bigger"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <table class="table table-hover table-striped" style="word-break: break-all;">
                                #if($pagerWrapper.content && $pagerWrapper.content.size() > 0)
                                    <thead>
                                    <tr style="text-align: center;">
                                        <th>应用名</th>
                                        <th>原TraceId</th>
                                        <th>url</th>
                                        <th>TraceId</th>
                                        <th>RepeateId</th>
                                        <th>回放结果</th>
                                        <th>回放时间</th>
                                        <th>耗时（ms）</th>
                                        <th>模式</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        #foreach($data in $pagerWrapper.content)
                                        <tr style="text-align: center;">
                                            <td style="vertical-align: middle">$!data.appName</td>
                                            <td style="vertical-align: middle">$!{data.rTraceId}</td>
                                            <td style="vertical-align: middle">$!data.url</td>
                                            <td style="vertical-align: middle">$!data.traceId</td>
                                            <td style="vertical-align: middle">$!{data.repeatId}</td>
                                            <td style="vertical-align: middle">
                                                #if($!{data.status}==0)
                                                    <span class="badge badge-warning">回放中</span>
                                                #elseif($!{data.success}==true)
                                                    <span class="badge badge-success">一致</span>
                                                #elseif($!{data.success}==false)
                                                    <span class="badge badge-danger">不一致</span>
                                                #end
                                            </td>
                                            <td style="vertical-align: middle">$!{data.gmtCreate}</td>
                                            <td style="vertical-align: middle">$!{data.cost}</td>
                                            <td style="vertical-align: middle">
                                                #if($!data.replayType=='0')
                                                    event事件回放
                                                #elseif($!data.replayType=='1')
                                                    quartz定时任务回放
                                                #elseif($!data.replayType=='2')
                                                    手动回放
                                                #end
                                            </td>
                                            <td style="vertical-align: middle">
                                                <a target="_self"
                                                   href="detail.htm?repeatId=$!{data.repeatId}"
                                                   class="btn btn-primary btn-xs" data-toggle="tooltip"
                                                   title="查看详情">详情</a>
                                            </td>
                                        </tr>
                                        #end
                                    </tbody>
                                #else
                                    <h5 style="padding-left: 10px;margin-top: 20px"> 没有符合条件的回放信息</h5>
                                #end
                            </table>
                        </div>
                        <div class="card-footer clearfix">
                            #parse("blocks/pager.vm")
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/dist/js/demo.js"></script>
    #parse("blocks/fakeloader.vm")
    #parse("blocks/install-module.vm")
<script src="/app/js/app.js" charset="UTF-8"></script>
<script type="application/javascript">
    jQuery(function ($) {
        $(".btn-active").on('click', function () {
            var appName = $(this).attr('data-app');
            var ip = $(this).attr('data-ip');
            innerPost("/module/active.json", {'appName': appName, 'ip': ip}, function (response) {
                if (response.success) {
                    notice(response.message, response.success)
                    setTimeout('window.location.reload()', 1000)
                } else {
                    notice(response.message, response.success)
                }
            });
        })
        $(".btn-frozen").on('click', function () {
            var appName = $(this).attr('data-app');
            var ip = $(this).attr('data-ip');
            innerPost("/module/frozen.json", {'appName': appName, 'ip': ip}, function (response) {
                if (response.success) {
                    notice(response.message, response.success)
                    setTimeout('window.location.reload()', 1000)
                } else {
                    notice(response.message, response.success)
                }
            });
        })
        $(".btn-reload").on('click', function () {
            var appName = $(this).attr('data-app');
            var ip = $(this).attr('data-ip');
            innerPost("/module/reload.json", {'appName': appName, 'ip': ip}, function (response) {
                if (response.success) {
                    notice(response.message, response.success)
                    setTimeout('window.location.reload()', 1000)
                } else {
                    notice(response.message, response.success)
                }
            });
        })

        $("#btn-install").on("click", function () {
            var modal = $('#start-install-modal');
            modal.on('shown.bs.modal', function () {
                $(this).css('display', 'block');
                var modalHeight = $(window).height() / 2 - $('#start-install-modal .modal-dialog').height() / 2;
                $(this).find('.modal-dialog').css({
                    'margin-top': modalHeight
                });
            });
            modal.modal('show')
        })

        $("#start-install-btn").on('click', function () {
            showLoading(10);
            $("#startInstallForm").ajaxSubmit({
                type: "post",
                url: "//" + host + "/module/install.json",
                success: function (data) {
                    $("#start-install-modal").modal('hide')
                    hideLoading(10)
                    if (data.success) {
                        notice(data.message, data.success)
                        setTimeout('window.location.reload()', 1000)
                    } else {
                        notice(data.message, data.success)
                    }
                },
                error: function (XMLHttpRequest) {
                    hideLoading(10);
                    notice("服务抽风了，网络异常 " + XMLHttpRequest.responseText, false);
                }
            })
        });
    });
</script>
</body>
</html>
