<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/favorite.ico" type="image/x-icon"/>
    <link rel=”icon” href="/favorite.ico" type="image/x-icon"/>
    <link rel="bookmark" href="/favorite.ico" type="image/x-icon"/>
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    #parse("blocks/screenBase.vm")
</body>
</html>
